.MenuListItem{
    text-decoration: none;
    color: var(--blue-1);
    width: 30vw;
    border-radius: 5px;
    border: solid 1px rgba(21, 34, 56, .3);
}

.card-menu{
    overflow: hidden;
    font-size: 1.3rem;
    color: black;
    background-color: white;
    width: 20rem;
    height: 20rem;
    text-decoration: none;
} 

.item-img{
    object-fit: cover;
    height: 25vh;
}

.card-title{
    margin-top: 1vh;
    font-weight: bold;
}