/* CSS Custom Properties */
:root {
  --white: #FFFFFF;
  --grey-1: rgba(211, 214, 224);
  --blue-1: rgba(35, 57, 93);
  --blue-2: rgba(25, 40, 65);
  --blue-3: rgba(21, 34, 56);
  --black-1: rgba(0 ,0 ,0);
  --main-font: 'Lato', sans-serif;
  /* --font-size:  */
}

*, *:before, *:after {
  box-sizing: border-box;
}

.page-title{
  color: var(--blue-3);
  font-size: clamp(1rem, 1rem + 1vw, 2rem);
  margin: 2.5vh 0;
  font-size: 2.5rem;
  padding-right: 3vw;
  font-weight: bolder;
}

body {
  margin: 0;
  font-family: var(--main-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  height: 100vh;
  color: var(--blue-3);
}

#root {
  height: 100%;
}

.margin-top-5{
  margin-top: 5vh;
}

.left-align{
  text-align: left;
}

.right-align{
  text-align: right;
}

.float-right{
  float: right;
}

.padding-2{
  padding-inline: 2vh;
}

.width-15vw{
  width: 15vw;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--tan-1);
  color: var(--text-dark);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

.form-container {
  margin-inline: 31.5vw;
  width: 35vw;
  padding: 3vmin;
  background-color: white;
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
}

p.error-message {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: 1rem;
}


/* form {
  display: grid;
  grid-template-columns: 10vw;
  gap: 1vw;
} */

label {
  font-size: 2rem;
  text-align: left;
  padding-left: 1vw;
}

/* input {
  width: 20vw;
  padding: 1vmin;
  font-size: 2vmin;
  color: var(--brown-1);
  border: .1vmin solid var(--blue-3);
  border-radius: .5vmin;
  background-image: none !important; 
   outline: none;
}  */

input:focus {
  border-color: var(--blue-3);
}

button, a.button {
  color: var(--brown-1);
  background-color: white;
  margin: 1vmin;
  padding: 1vmin;
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--tan-2);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  border-radius: 5px;
}

/* button[type="submit"] {
  grid-column: span 2;
  color: white;
  border: solid 1px var(--brown-1);
  background-color: var(--brown-1);
  margin-inline: 11vw 10vw;

} */
