/* CSS Custom Properties */
:root {
  --white: #FFFFFF;
  --yellow-1: rgba(255, 216, 1);
  --brown-1: rgba(206, 177, 128);
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Nanum Pen Script', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--yellow-1);
  padding: 2vmin;
  height: 100vh;
  color: var(--yellow-1);
}

#root {
  height: 100%;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--tan-1);
  color: var(--text-dark);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

.form-container {
  margin-inline: 31.5vw;
  width: 35vw;
  padding: 3vmin;
  background-color: white;
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
}

p.error-message {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: 1rem;
}


form {
  display: grid;
  grid-template-columns: 10vw;
  gap: 1vw;
}

label {
  font-size: 2rem;
  text-align: left;
  padding-left: 1vw;
}

input {
  width: 20vw;
  padding: 1vmin;
  font-size: 2vmin;
  color: var(--brown-1);
  border: .1vmin solid var(--brown-1);
  border-radius: .5vmin;
  background-image: none !important; /* prevent lastpass */
  outline: none;
}

input:focus {
  border-color: var(--brown-1);
}

button, a.button {
  color: var(--brown-1);
  background-color: white;
  margin: 1vmin;
  padding: 1vmin;
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--tan-2);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  border-radius: 5px;
}

button[type="submit"] {
  grid-column: span 2;
  color: white;
  border: solid 1px var(--brown-1);
  background-color: var(--brown-1);
  margin-inline: 11vw 10vw;

}
