.home-page{
    background-image: linear-gradient(rgba(21, 34, 56, .2), rgba(21, 34, 56, .9)),  url(https://imagizer.imageshack.com/img923/9448/Ku9N6D.png);
    background-size: cover;
    height: 63vh;

    color: white;
    font-weight: bolder;
    font-size: 5rem;
    padding-top: 22vh;
}

.home-text{
    margin: 9vh 25vw;
    font-size: 2rem;
    font-weight: 0;
    width: 50vw;
    font-weight: bold;
}